html {
	height: 100%;
	margin: 0;
	padding: 0;
}

* html wrap {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	background-color: #EFEFE7;
	background-image: url('git_bg.png');
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

a:link {
	color: #6F6055;
	font-size: 15px;
	text-decoration: none;
}

a:visited {
	color: #D9CDC4;
	font-size: 15px;
}

a:hover, a:active {
	color: #413932;
	font-size: 15px;
	text-decoration: underline;
}

#main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	width: 800px;
	border: 0px solid #000;
	background-color: #EFEFE7;
	overflow: hidden;
	height: calc(100% - 10px);
}

#logo {
	background-image: url('git_logo.png');
	background-repeat: no-repeat;
	width: 220px;
	height: 92px;
	margin: 10px;
	float: left;
}

#logo_text {
	float: right;
	font-size: 30px;
	height: 40px;
	font-weight: bold;
	margin: 10px;
	margin-top: 70px;
	text-align: right;
}

.hr {
	height: 1px;
	background-color: #413932;
	width: 96%;
	float: left;
	margin-left: 2%;
}

.hrBottom {
	height: 1px;
	background-color: #413932;
	width: 96%;
	margin-left: 2%;
	position: absolute;
	bottom: 30px;
}

#content {
	float: left;
	min-height: 500px;
	margin: 15px;
	width: calc(100% - 30px);
}

#table_border {
	border: 1px solid #CCC;
	padding: 2px;
	width: 100%;
}

table {
	font-size: 15px;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}

th:nth-child(4) {
	width: 100px;
}

td:nth-child(4) {
	width: 100px;
}

th {
	margin: 0;
	text-align: left;
	border-bottom: 1px solid #CCC;
	padding: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

td {
	border-bottom: 1px dotted #CCC;
	margin: 0;
	text-align: left;
	padding: 5px;
}

#copyright {
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}